<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
    {% block head %}
      <section id="navbar" class="{{ navbar_classes }} campaigns-header">
        <div class="top-header-container">
          <div class="top-header-content row">
            <div class="header-logo col-xs-12 col-sm-9 toolbar-yes">
              {{ page.top_header_logos }}
              <div class="header-text">{{ 'Healthy Workplaces Lighten the Load 2020-22'|t }}</div>
            </div>
            <div class="header-tools col-xs-12 col-sm-3 xs-menu">
              <div class="print-resize-block">

                {{ page.header_form.hwcprintfriendly }}
                {{ page.header_form.textresize }}
                {{ page.header_form.socialmenuheader }}
              </div>
              <div class="search-block">
                {{ page.header_form.searchform }}
                {{ page.header_form.privateworkbenchblock  }}
    {#            {{ dd( page.header_form.privateworkbenchblock ) }}#}
              </div>
              <div class="header-language-search">
                {{ page.header_form.languagedropdownswitchercontent }}
              </div>


              <div class="content-first-row">

                {#              <div class="header-social-menu">#}
                {#                {{ page.header }}#}
                {#              </div>#}
                {#            </div>#}
                {#            <div class="header-links">#}
                {#              {{ page.header_links}}#}
                {#            </div>#}
              </div>
            </div>
          </div>
          <nav{{ navbar_attributes }}>
            {% if page.primary_menu %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu.hwc_theme_main_menu }}
              </div>
            {% endif %}
            {% if sidebar_collapse %}
              <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
            {% endif %}
          </nav>
        </div>
      </section>
    {% endblock %}
    </header>

    {% block banner %}
      {% if not is_front %}
        {% if page.breadcrumb %}
          <section class="section-title">
            {{ page.breadcrumb.hwc_theme_breadcrumbs }}

{#            {{ dd( node.field_publication_type.0.entity.label ) }}#}
            {% if  node.getType() == "events" %}
              <h1 class="page-header">{{ 'Events'|t }}</h1>
            {% elseif node.getType() == "publication" %}
              {% if node.field_publication_type.0.entity.label == 'Campaign/Promotion Material' %}
                <h1 class="page-header">{{ 'Campaign material'|t }}</h1>
              {% else %}
                <h1 class="page-header">{{ 'Publications'|t }}</h1>
              {% endif %}
            {% elseif node.getType() == "news" %}
              <h1 class="page-header">{{ 'News'|t }}</h1>
            {% elseif node.getType() == "tk_article" %}
              <h1 class="page-header">{{ 'Campaign toolkit'|t }}</h1>
            {% elseif node.getType() == "infographic" %}
              <h1 class="page-header">{{ 'infographics'|t }}</h1>
            {% else %}
              <h1 class="page-header">{{ page.breadcrumb.hwc_theme_page_title }}</h1>
            {% endif %}


          </section>
        {% endif %}
      {% endif %}
    {% endblock %}

    <section id="main-wrapper" class="layout-main-wrapper clearfix">
      <div class="main-container">

        {% block content %}
        {% set has_sidebar_left= page.sidebar_left|render|striptags|trim is not empty or
          page.sidebar_left.priorityareamultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.publicationtypemultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.contenttypemultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.countrymultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.publicationspriorityarea|render|striptags|trim is not empty
        %}
        {% set has_sidebar_right= page.sidebar_right|render|striptags|trim is not empty %}

            {{ page.above_content.hwc_theme_local_tasks }}
            <div class="container">
              {% if has_sidebar_left or has_sidebar_right  %}
                <div class="row">
              {% else %}
                  <div>
              {% endif %}

                {% if has_sidebar_left %}
                  <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">
                    {{ page.sidebar_left }}
                  </aside>
                {% endif %}

                {% if has_sidebar_left or has_sidebar_right %}
                <section class="section section-center col-12 col-lg-9 ">
                {% elseif page.has_sidebar_left and has_sidebar_right%}
                  <section class="section section-center col-12 col-lg-6">
                {% else %}
                    <section class="section section-center col-12">
                {% endif %}
                  {{ page.content }}
                </section>

                {% if has_sidebar_right %}
                  <aside class="section col-12 col-lg-3 sidebar-second" role="complementary">
                    {{ page.sidebar_right }}
                  </aside>
                {% endif %}
              </div>
            </div>
        {% endblock %}

      </div>
      </div>
    </section>

    <footer class="site-footer">
      {% block footer %}

        <div class="{{ container }}" >
          {% if page.footer.mainnavigation %}
            <div class="site-footer__first">
              {{ page.footer.mainnavigation }}
            </div>
          {% endif %}
          {% if page.footer.footer  %}
            <div class="site-footer__bottom">
              {{ page.footer.footer }}
            </div>
          {% endif %}
        </div>
      {% endblock %}
    </footer>
  </div>
</div>
