{% extends "page.html.twig" %}


{% block content %}

  {% if is_front %}
    <section class="homepage-banner">
{#      {{ dd(page.content) }}#}
        {{ page.content.views_block__homepage_banners_hp_banners_block }}
    </section>
    <section class="home-news-events  blocks-front-page container">
      <div class="row">
        <div class="home-news col-lg-7 col-md-12">
          <h1 class="line news-section-title"><a href="{{ drupal_url('media-centre/news')}}">{{ 'News' | trans }}</a></h1>
          {{ page.content.views_block__osh_news_front }}
          <p><a class="see-all-link" href="{{ drupal_url('media-centre/news')}}">{{ 'See all news'|t }}</a></p>
        </div>
        <div class="home-events col-lg-5 col-md-12">
          <h1 class="line events-section-title"><a href="{{ drupal_url('media-centre/events')}}">{{ 'Events' | trans }}</a></h1>
          {{ page.content.views_block__frontpage_events_block }}
          <p><a class="see-all-link" href="{{ drupal_url('media-centre/events')}}">{{ 'See all events'|t }}</a></p>
        </div>
      </div>
    </section>
  {% endif %}

<!--
  <section class="content-fluid blocks-front-page green-background">
    <div class="container no-padding">
      <h2 class="line"><span><a href="/about-topic/priority-areas">{{ 'Priority areas' | trans }}</a></span></h2>
      <h4>TODO priority areas menu</h4>
    </div>
  </section>
-->
  <section class="oficial-campaign-partner blocks-front-page container">
    <h2 class="line"><span><a href="{{ drupal_url('campaign-partners/official-campaign-partners')}}">{{ 'Official Campaign partners' | trans }}</a></span></h2>
    {{ page.content.views_block__partners_block_1 }}
  </section>

  <!--
  <section class="home-newsletter-social-media blocks-front-page">
    <div class="container no-padding">
      <div class="row">
        <div class="home-newsletter col-lg-7 col-md-12">
          <h2><span><a href="/media-centre/news">{{ 'Newsletter' | trans }}</a></span></h2>
          <h4>TODO Block Newsletter</h4>
        </div>
        <div class="home-social-media col-lg-5 col-md-12">
          <h2><span><a href="/en/media-centre/events">{{ 'Social media' | trans }}</a></span></h2>
          <h4>TODO Black social media</h4>
        </div>
      </div>
    </div>
  </section>
  -->
{% endblock %}


