<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
    {% block head %}
      <section id="navbar" class="{{ navbar_classes }} campaigns-header">
        <div class="top-header-container">
          <div class="top-header-content row">
            <div class="header-logo col-xs-12 col-sm-9 toolbar-yes">
              {{ page.top_header_logos }}
              <div class="header-text">{{ 'Healthy Workplaces Lighten the Load 2020-22'|t }}</div>
            </div>
            <div class="header-tools col-xs-12 col-sm-3 xs-menu">
              <div class="print-resize-block">
                {{ page.header_form.textresize }}
                {{ page.header_form.hwcprintfriendly }}
                {{ page.header_form.socialmenuheader }}
              </div>
              <div class="search-block">
                {{ page.header_form.sitesearch }}
                {{ page.header_form.privateworkbenchblock  }}
              </div>
              <div class="header-language-search">
                {{ page.header_form.hwc_theme_account_menu }}
                {{ page.header_form.languagedropdownswitchercontent }}
              </div>
            </div>
          </div>
          <nav{{ navbar_attributes }}>
            {% if page.primary_menu %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu.hwc_theme_main_menu }}
              </div>
            {% endif %}
            {% if sidebar_collapse %}
              <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
            {% endif %}
          </nav>
        </div>
      </section>
    {% endblock %}
    </header>

    {% block banner %}
      {% if not is_front %}
        {% if page.breadcrumb %}
          <section class="section-title">

            {% set firstLevelName = ['TOOLS-AND-PUBLICATIONS','GET-INVOLVED','CAMPAIGN-PARTNERS','MEDIA-CENTRE','PREVIOUS-CAMPAIGNS' ] %}
            {% set customLevel = ['ABOUT-TOPIC' ] %}
            {% set nodetypes = ['news','events','publication'] %}
            {% set nodeType = drupal_token('node:type', {node: node})  %}
            {% set urlArray = drupal_token('node:url:args', {node: node})|split(', ') %}
            {% set urlArraylength = drupal_token('node:url:args', {node: node})|split(',')|length  %}
            {% set firstLevelPages = drupal_token('node:url:args:value:0', {node: node})|raw|upper %}
            {# If isnot numeric is a view page #}
            {% set isNumeric = drupal_token('node:vid', {node: node}) matches '/^\\d+$/' %}


            {% if urlArraylength == 0 %}
              <h1 class="page-header">{{ page.breadcrumb.hwc_theme_page_title }}</h1>

            {% elseif urlArraylength == 1 %}
              {% if isNumeric %}
                <h1 class="page-header">{{ drupal_token('node:menu-link:parent', {node: node})|raw }}</h1>
              {% else %}
                {% if node.field_splash_title %}
                  <h1 class="page-header">{{ node.field_splash_title.0.value }}</h1>
                {% else %}
                  <h1 class="page-header">{{ page.breadcrumb.hwc_theme_page_title }}</h1>
                {% endif %}
              {% endif %}

            {% elseif urlArraylength == 2 %}
              {% if node.field_splash_title %}
                <h1 class="page-header">{{ node.field_splash_title.0.value }}</h1>
              {% else %}
                <h1 class="page-header">{{ page.breadcrumb.hwc_theme_page_title }}</h1>
              {% endif %}

            {% elseif urlArraylength == 3 %}
              {% if firstLevelPages in firstLevelName %}
                {% if node.field_splash_title %}
                  <h1 class="page-header">{{ node.field_splash_title.0.value }}</h1>
                {% else %}
                  {% if 'campaign-toolkit' in urlArray%}
                    <h1 class="page-header">{{ 'Campaign toolkit'|t }}</h1>
                  {% else %}
                    <h1 class="page-header">{{ page.breadcrumb.hwc_theme_page_title }}</h1>
                  {% endif %}
                {% endif %}
              {% else %}
                {% if nodeType == 'news' %}
                  <h1 class="page-header">{{ 'News'|t }}</h1>
                {% elseif nodeType == 'events' %}
                  <h1 class="page-header">{{ 'Events'|t }}</h1>
                {% elseif nodeType == 'publication' %}
                  <h1 class="page-header">{{ 'Publications'|t  }}</h1>
                {% else %}
                  <h1 class="page-header">{{ drupal_token('node:menu-link:parent', {node: node})|raw }}</h1>
                {% endif %}
              {% endif %}

            {% elseif urlArraylength == 4 %}
              {% if firstLevelPages in customLevel %}
                <h1 class="page-header">{{ drupal_token('node:menu-link:parent', {node: node})|raw }}</h1>
              {% else %}
                {% if node.field_splash_title %}
                  <h1 class="page-header">{{ node.field_splash_title.0.value }}</h1>
                {% else %}
                  {% if nodeType == 'news' %}
                    <h1 class="page-header">{{ 'News'|t }}</h1>
                  {% elseif nodeType == 'events' %}
                    <h1 class="page-header">{{ 'Events'|t }}</h1>
                  {% elseif nodeType == 'publication' %}
                    <h1 class="page-header">{{ 'Publications'|t  }}</h1>
                  {% else %}
                    <h1 class="page-header">{{ page.breadcrumb.hwc_theme_page_title }}</h1>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}

          </section>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% if page['#title'] == "News" %}
      {% set backcolor = 'gray-background' %}
    {% endif %}
    <section id="main-wrapper" class="layout-main-wrapper clearfix {{ backcolor }}">
      <div class="main-container">
        <div class="container">
          {{ page.breadcrumb.hwc_theme_breadcrumbs }}
        </div>

        {% block content %}
        {% set has_sidebar_left= page.sidebar_left|render|striptags|trim is not empty or
          page.sidebar_left.priorityareamultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.publicationtypemultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.contenttypemultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.countrymultilingualnodeindex|render|striptags|trim is not empty or
          page.sidebar_left.publicationspriorityarea|render|striptags|trim is not empty
        %}
        {% set has_sidebar_right= page.sidebar_right|render|striptags|trim is not empty %}

            {{ page.above_content.hwc_theme_local_tasks }}
            <div class="container">
              {% if has_sidebar_left or has_sidebar_right  %}
                <div class="row">
              {% else %}
                  <div>
              {% endif %}

                {% if has_sidebar_left %}
                  <aside class="section col-12 col-lg-3 sidebar-left" role="complementary">
                    {{ page.sidebar_left }}
                  </aside>
                {% endif %}


                {% if has_sidebar_left %}
                    {% if has_sidebar_right %}
                      <section class="section section-center col-12 col-lg-6 ">
                    {% else %}
                      <section class="section section-center col-12 col-lg-9">
                    {% endif %}
                {% else %}
                      {% if has_sidebar_right %}
                        <section class="section section-center col-12 col-lg-9">
                      {% else %}
                          <section class="section section-center col-12">
                      {% endif %}
                {% endif %}

                  {{ page.content }}
                </section>

                {% if has_sidebar_right %}
                  <aside class="section col-12 col-lg-3 sidebar-right" role="complementary">
                    {{ page.sidebar_right }}
                  </aside>
                {% endif %}
              </div>
            </div>
        {% endblock %}

        </div>
      </div>
    </section>

    <footer class="site-footer">
      {% block footer %}

        <div class="{{ container }}" >
          {% if page.footer.mainnavigation %}
            <div class="site-footer__first">
              {{ page.footer.mainnavigation }}
            </div>
          {% endif %}
          {% if page.footer.footer  %}
            <div class="site-footer__bottom">
              <div class="menu-help">
                {{ page.footer.footer }}
              </div>

              <div class="row">
                <div class="col-8 footer-intro">
                    <p>Safety and health at work is everyone's concern. It's good for you. It's good for business.</p>
                    <p>European Agency for Safety and Health at Work | an agency of the European Union</p>
                </div>
                <div class="col-4 footer-network">
                  <p> {{ 'Follow us:'|t }}</p>
                  {{ page.header_form.socialmenuheader }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endblock %}
    </footer>
  </div>
</div>
