{% extends "@bootstrap_barrio/layout/page.html.twig" %}
{% block head %}
<div id="navbar" role="banner" class="{{ navbar_classes }}">
  <div class="top-header-container">
    <div class="top-header-content row">
      <div class="header-logo">
        {{ page.top_header_logos }}
      </div>
      <div class="push-right">
        <div class="content-first-row">
          <div class="font-size-print">
            <span id="_smallify" class="a_small"><a title="{{ 'Smaller text' | trans }}">a</a></span>
            <span id="_reset" class="a_medium"><a title="{{ 'Optimised defaults' | trans }}">a</a></span>
            <span id="_biggify" class="a_big"><a title="{{ 'Bigger text' | trans }}">a</a></span>
            <a href="#" onclick="if(window.print)window.print();" class="print-friendly" title="{{ 'Print page' | trans }}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
   <nav{{ navbar_attributes }}>
      {% if page.primary_menu %}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="CollapsingNavbar">
            {{ page.primary_menu }}
        </div>
      {% endif %}
      {% if sidebar_collapse %}
        <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
      {% endif %}
    </nav>
</div>
{% endblock %}

{% block content %}
  <div class="home-news-events blocks-front-page container">
    <div class="row">
      <div class="home-news col-lg-7 col-md-12">
        <h3 class="line"><span><a href="/media-centre/news">{{ 'News' | trans }}</a></span></h3>
        <h4>TODO view home news</h4>
      </div>
      <div class="home-events col-lg-5 col-md-12">
        <h3 class="line"><span><a href="/en/media-centre/events">{{ 'Events' | trans }}</a></span></h3>
        <h4>TODO view home events</h4>
      </div>
    </div>
  </div>
  <div class="content-fluid blocks-front-page green-background">
    <div class="container no-padding">
      <h2 class="line"><span><a href="/about-topic/priority-areas">{{ 'Priority areas' | trans }}</a></span></h2>
      <h4>TODO priority areas menu</h4>
    </div>
  </div>
  <div class="oficial-campaign-partner blocks-front-page container">
    <h2 class="line"><span><a href="/campaign-partners/official-campaign-partners">{{ 'Official Campaign partners' | trans }}</a></span></h2>
    <h4>TODO silder partner</h4>
  </div>
  <div class="home-newsletter-social-media blocks-front-page">
    <div class="container no-padding">
      <div class="row">
        <div class="home-newsletter col-lg-7 col-md-12">
          <h2><span><a href="/media-centre/news">{{ 'Newsletter' | trans }}</a></span></h2>
          <h4>TODO Block Newsletter</h4>
        </div>
        <div class="home-social-media col-lg-5 col-md-12">
          <h2><span><a href="/en/media-centre/events">{{ 'Social media' | trans }}</a></span></h2>
          <h4>TODO Black social media</h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="{{ container }}" >
    {% if page.footer_first %}
      <div class="site-footer__first">
        {{ page.footer_first }}
      </div>
    {% endif %}
    {% if page.footer_end %}
      <div class="site-footer__bottom">
        {{ page.footer_end }}
      </div>
    {% endif %}
  </div>
{% endblock %}
