{% extends "page.html.twig" %}



{% block content %}

  {% if is_front %}
    <section class="homepage-banner">
      {{ page.content.views_block__homepage_banners_hp_banners_block }}
    </section>
    <section class="home-news-events  blocks-front-page container">
      <div class="row">
        <div class="home-news col-lg-7 col-md-12">
          <h1 class="line news-section-title"><a href="/media-centre/news">{{ 'News' | trans }}</a></h1>
          {{ page.content.views_block__osh_news_front }}
        </div>
        <div class="home-events col-lg-5 col-md-12">
          <h1 class="line events-section-title"><a href="/en/media-centre/events">{{ 'Events' | trans }}</a></h1>
        </div>
      </div>
    </section>
  {% endif %}


  <section class="content-fluid blocks-front-page green-background">
    <div class="container no-padding">
      <h2 class="line"><span><a href="/about-topic/priority-areas">{{ 'Priority areas' | trans }}</a></span></h2>
      <h4>TODO priority areas menu</h4>
    </div>
  </section>

  <section class="oficial-campaign-partner blocks-front-page container">
    <h2 class="line"><span><a href="/campaign-partners/official-campaign-partners">{{ 'Official Campaign partners' | trans }}</a></span></h2>
    <h4>TODO silder partner</h4>
  </section>

  <section class="home-newsletter-social-media blocks-front-page">
    <div class="container no-padding">
      <div class="row">
        <div class="home-newsletter col-lg-7 col-md-12">
          <h2><span><a href="/media-centre/news">{{ 'Newsletter' | trans }}</a></span></h2>
          <h4>TODO Block Newsletter</h4>
        </div>
        <div class="home-social-media col-lg-5 col-md-12">
          <h2><span><a href="/en/media-centre/events">{{ 'Social media' | trans }}</a></span></h2>
          <h4>TODO Black social media</h4>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block footer %}
  <div class="{{ container }}" >
    {% if page.footer_first %}
      <div class="site-footer__first">
        {{ page.footer_first }}
      </div>
    {% endif %}
    {% if page.footer_end %}
      <div class="site-footer__bottom">
        {{ page.footer_end }}
      </div>
    {% endif %}
  </div>
{% endblock %}
