
<header class="intro-napo-films">
<h3 class="title-napo-film h4 mb-4">{{ content['#title']['#markup']}}</h3>
<p><a href="{{ drupal_url('/tools-and-publications/napo-films/download-all')}}" class="download-all">Download all</a></p>
</header>

<div class="napo-films-view">
  {% set results = content['#view'].result %}
  {% for index, item in results %}
  {% set item = item._entity %}
{#  {% set urlShare = item.field_youtube.0.entity.field_media_oembed_video.0.value  %}#}
{#{% set absUrl = url('<front>')['#markup'] ~ path('entity.node.canonical', {'node':  item.nid.value }) %}#}
  {% set urlShare = url('entity.node.canonical', { 'node': item.nid.value })['#markup']    %}


    <article class="card" >
      <div class="card-img-top">
        <div class="cover">
          <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{ item.nid.value }}"></a>
        </div>
        {{ item.field_youtube.0.entity.field_media_oembed_video|view }}
      </div>
      <div class="card-body">
        <div class="share-networks">
          <ul class="napo-actions">
            <li class="share-link fas fa-share-alt"><label class="sr-only">{{ 'Share'|t }}</label></li>
            <li class="download-film fas fa-download">
              <a href="{{ file_url(item.field_video.0.entity.uri.value) }}">
                <label class="sr-only">{{ 'Download film'|t }}</label>
              </a>
            </li>
          </ul>
          <ul class="list-networks d-none">
            <li class="close-share fas fa-times"></li>
            <li class="fb">
              <a href="https://www.facebook.com/sharer/sharer.php?u={{ urlShare }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;"
                 target="_blank"><span>facebook</span></a>
            </li>
            <li class="tw">
              <a href="https://twitter.com/share?url={{ urlShare }}&text={{ item.title.value }}"
                 onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;"
                 target="_blank"><span>twitter</span></a> </li>
            <li class="ln">
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ urlShare }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=600');return false;"
                 target="_blank"><span>linkedin</span></a> </li>
{#            <li class="copy">#}
{#              <span>{{ urlShare }} </span> </li>#}
          </ul>
        </div>
        <h3 class="card-title">
          <a href="{{ path('entity.node.canonical', {'node':  item.nid.value}) }}">
          {{ item.title.value }}
          </a>
        </h3>
        <p class="card-text">{{ item.body.value|striptags|truncate(120) ~ '...'  }}</p>
        <!--
        <p>Download file: <a href="{{ file_url(item.field_video.0.entity.uri.value) }}"> {{item.field_video.0.entity.uri.value}} </a> </p>
        -->

      </div>
    </article>
  {% endfor %}


{#  <article class="card" >#}
{#    <img class="card-img-top" src="http://hwc.ddev.site/sites/hwc/files/styles/large/public/hwc/news/eu_diversity_month_220.jpg?itok=1qpRY-Om" alt="Card image cap">#}
{#    <div class="card-body">#}
{#      <div class="share-networks">#}
{#        <ul class="napo-actions">#}
{#          <li class="share-link fas fa-share-alt"><label class="sr-only">Share</label></li>#}
{#          <li class="download-film fas fa-download"><label class="sr-only">Download</label></li>#}
{#        </ul>#}
{#        <ul class="list-networks d-none">#}
{#          <li class="close-share fas fa-times"></li>#}
{#          <li class="fb">#}
{#            <a href="https://www.facebook.com/sharer/sharer.php?u=www.google.com" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"#}
{#               target="_blank"><span>facebook</span></a>#}
{#          </li>#}
{#          <li class="tw">#}
{#            <a href="https://twitter.com/share?url=URLENCODED_URL&via=TWITTER_HANDLE&text=TEXT"#}
{#               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"#}
{#               target="_blank"><span>twitter</span></a> </li>#}
{#          <li class="ln">#}
{#            <a href="https://www.linkedin.com/shareArticle?mini=true&url=YOUR_URL_HERE" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"#}
{#               target="_blank"><span>linkedin</span></a> </li>#}
{#        </ul>#}
{#      </div>#}
{#      <h3 class="card-title">Card title</h3>#}
{#      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#    </div>#}
{#  </article>#}
{#  <article class="card" >#}
{#    <img class="card-img-top" src="http://hwc.ddev.site/sites/hwc/files/styles/large/public/hwc/news/eu_diversity_month_220.jpg?itok=1qpRY-Om" alt="Card image cap">#}
{#    <div class="card-body">#}
{#      <div class="share-networks">#}
{#        <ul class="napo-actions">#}
{#          <li class="share-link fas fa-share-alt"><label class="sr-only">Share</label></li>#}
{#          <li class="download-film fas fa-download"><label class="sr-only">Download</label></li>#}
{#        </ul>#}
{#        <ul class="list-networks d-none">#}
{#          <li class="close-share fas fa-times"></li>#}
{#          <li class="fb">#}
{#            <a href="https://www.facebook.com/sharer/sharer.php?u={{ file_url('node'~node.nid.0.value)  }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"#}
{#               target="_blank"><span>facebook</span></a>#}
{#          </li>#}
{#          <li class="tw">#}
{#            <a href="https://twitter.com/share?url=http://hwc.ddev.site/en/tools-and-publications/napo-films&via=TWITTER_HANDLE&text=TEXT"#}
{#               onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"#}
{#               target="_blank"><span>twitter</span></a> </li>#}
{#          <li class="ln">#}
{#            <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://hwc.ddev.site/en/tools-and-publications/napo-films" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"#}
{#               target="_blank"><span>linkedin</span></a> </li>#}
{#        </ul>#}
{#      </div>#}
{#      <h3 class="card-title">{{ node.title.0.value }}</h3>#}
{#      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#    </div>#}
{#  </article>#}
</div>
