
  {% set results = content['#view'].result %}
  {% for index, item in results %}
    {% set item = item._entity %}
    {% set image = item.field_image|view  %}
    {% set caption = image.0['#media'].field_caption_copyrigth_.0.value %}
  <article class="home-news-item">
    <div class="image-news-item">
      <a href="{{ path('entity.node.canonical', {'node': item.nid.value}) }} ">
        {{ image.0['#media'].field_media_image|view  }}
      </a>
    </div>
    <div class="body-news-item">
      <span class="publication-date">{{ item.field_publication_date.value| date('d/m/Y') }}</span>
      <div class="summary-news">
        <h2>
          <a href="{{ path('entity.node.canonical', {'node': item.nid.value}) }} ">
          {{ item.title.value }}
          </a>
        </h2>
       {# <p>{{ item.field_summary.value|render|striptags|slice(0, 150)|raw ~ '...' }}</p>#}
        <p>
          {% set text = item.body.0.value |render|striptags %}
          {% set summary = item.field_summary.0.value | render|striptags %}
          {%  if summary %}
            {{ summary|raw }}
          {% else %}
            {{ text|length > 150 ? text|slice(0, 125)|raw ~ '...' : text|raw }}
          {% endif %}
        </p>






        <a href="{{ path('entity.node.canonical', {'node': item.nid.value}) }}" class="more-link">{{ 'See more'|t }}</a>
      </div>
    </div>
  </article>
  {% endfor %}


