{#
{{  drupal_dump(elements) }}
{{  drupal_dump(elements.content) }}
{{  drupal_dump(elements.content.0['#items']) }}
{{  drupal_dump(elements.content.0['#items'].0['#title']['#value']) }}
#}

{% set item2 = 0 %}

{% for item in elements.content.0['#items'] %}
 {# {{  drupal_dump(item) }} #}
  {% if  ( item['#title']['#value']|lower|slice(0,1)  ==  item2['#title']['#value']|lower|slice(0,1) ) %}

    {% else %}
        <div class="facet-item-title">
          <a class="hwc-char-link a1" href="#hwc-char-0-{{ item['#title']['#value']|slice(0,1) }}">{{ item['#title']['#value']|slice(0,1) }}</a>
        </div>
  {% endif %}

 {% set item2 = item %}
{% endfor %}
