

<article class="publications-items-list">
  <div class="group-left">
    <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ content.field_cover_image }}</a>
  </div>
  <div class="group-right">
    <div class="metadata">
      <span class="date" datetime="{{  content.field_publication_date.0['#text'] }}" >{{ content.field_publication_date.0['#text'] }}</span>
      <span class="type" ><label>{{ 'type'|t }}:</label> {{ content.field_publication_type.0['#title'] }}</span>
      <span class="num-pages">{{ content.field_pages_count.0 }} {{ 'pages'|t }}</span>
    </div>
    <h2 class="title-list">
      <a href="{{ path('entity.node.canonical', {'node': node.id}) }}"> {{ label.0 }} </a>
    </h2>
    <p>
      {{ content.body.0|render|striptags|slice(0, 220)|raw ~ '...' }}
    </p>
    <p>
      <a href="{{ path('entity.node.canonical', {'node': node.id }) }}" class="more-link">{{ 'See more'|t }}</a>
    </p>

  </div>
</article>
