{% extends "page.html.twig" %}

    {% block banner %}
      {% if not is_front %}
        {% if page.breadcrumb %}
          <section class="section-title">
            {{ page.breadcrumb.hwc_theme_breadcrumbs }}
            <h1 class="page-header">{{ page.breadcrumb.hwc_theme_page_title }}</h1>
          </section>
        {% endif %}
      {% endif %}
    {% endblock %}

{% block content %}

  <section class="events-list-page gray-background">
    <div class="container">
      <div class="row">
        <aside class="section col-12 col-lg-3 sidebar-first" role="complementary">
          {{ page.sidebar_left.exposedformevents_searchpage_1 }}
        </aside>
        <section class="section col-12 col-lg-9 events-list">
          {{ page.sidebar_left.exposedformevents_searchpage_1 }}
          {{ page.content.hwc_theme_content }}
        </section>
      </div>
    </div>
  </section>

{% endblock %}
