{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
{#{{ output -}}#}


{% set rowslist = row._entity.field_download_pdf %}
  {% set docicon = "" %}

{% for row in rowslist %}
{#   {{ drupal_dump(row) }}#}
  {% set docsid_only = row.target_id %}
  {% set docsinExt = row.entity.name.value|split('.')  %}
  {% set doclang = row.entity.langcode.value %}
{#  {% set dociconurl = row.entity.thumbnail.entity.uri.value %}#}
{#  {% set docicon = file_url(dociconurl) %}#}
{#  {{ drupal_dump(row.entity) }}#}
{#  {{ drupal_dump(row.entity) }}#}

  {% if docsinExt.1 == "pdf" %}
    {% set docicon = "fa-solid fa-file-pdf" %}
  {% elseif docsinExt.1 == "mp4" %}
    {% set docicon = "fa-solid fa-file-video" %}
  {% elseif docsinExt.1 == "docx" %}
    {% set docicon = "fa-solid fa-file-word" %}
  {% elseif docsinExt.1 == "zip" %}
    {% set docicon = "fa fa-file-zip-o" %}
  {% elseif docsinExt.1 == "pptx" %}
    {% set docicon = "fa-solid fa-file-powerpoint" %}
  {% elseif docsinExt.1 == "xlsx" %}
    {% set docicon = "fa-solid fa-file-excel" %}
  {% else %}
    {% set docicon = "fa-solid fa-file" %}
  {% endif %}

  <div class="practice-exchange-downloads field-files">
    <span class="publication-ext-type"><i class="{{ docicon }}" style="font-family: 'Font Awesome 5 Free'; font-style: normal; "></i>  {{ docsinExt.0 }}</span>
    <span class="publication-download-label">Download in</span>
        <a href="/media/{{ docsid_only }}" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down"></span>{{ doclang }}</a>
  </div>
{% endfor %}

