{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'homepage-banner-view',
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<section {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  {{ exposed }}
  {{ attachment_before }}

  {% if rows -%}

  <div id="carouselControls" class="carousel slide d-block w-100 container" data-ride="carousel" data-interval="1000000000">
    <!--Carousel Wrapper-->
    <div id="carousel" class="carousel slide " data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        {% for index, row in rows.0['#rows'] %}
        <li data-target="#carousel" data-slide-to="{{ index }}" {% if index == 0 %} class="active" {% endif %}></li>
        {% endfor %}
      </ol>
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        {% for index, row in rows.0['#rows'] %}
{#          {{ dd(row['#row']._entity.field_content_reference.0.target_id) }}#}
          {% set url = row['#row']._entity.field_image.entity.field_media_image.entity.uri.value %}
          {% set alt = row['#row']._entity.field_image.entity.field_media_image.alt %}
          {% set title = row['#row']._entity.title.0.value %}
{#          {% set nid = 'node/' ~ row['#row']._entity.nid.0.value %}#}
          {% set nid = 'node/' ~ row['#row']._entity.field_content_reference.0.target_id %}
        <div class="carousel-item {% if index == 0 %} active {% endif %}">
          <div class="caption" >
            <div class="content-body col-6">
              <h3 class="banner-tag h3-responsive">{{ title }}</h3>
              <div class="banner-text">{{ row['#row']._entity.body.value|raw }}</div>
              <p class="banner-link"><a class="see-all-link" href="{{ file_url( nid )  }}">{{ 'See more'|t }}</a></p>
            </div>
            <div class="content-img col-6">
              <img class="" src="{{ file_url( url )  }}" alt="{{ alt }}">
              <div class="mask rgba-black-light"></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--/.Slides-->

      <!--Controls-->
{#      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">#}
{#        <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Previous</span>#}
{#      </a>#}
{#      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">#}
{#        <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Next</span>#}
{#      </a>#}
      <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->
  </div>

  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</section>

