{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}

<div class="update-partners-form-wrapper">
  <div class="navigation-panel">
    <div class="back"><a href="">< {{ 'Back to private zone'|t }}</a></div>
    <h3>{{ 'Navigation Panel and Status'|t }}</h3>
    <h4>{{ '1. About your organisation'|t }}</h4>
    <ul>
      <li><span class="s1 s1a"></span> {{ 'About your Organisation'|t }}</li>
      <li> <span class="s1 s1b"></span> {{ 'About your General Contact Information'|t }}</li>
      <li><span class="s1 s1c"></span> {{ 'About your CEO'|t }}</li>
      <li><span class="s1 s1d"></span> {{ 'About your Health and Safety Representative'|t }}</li>
      <li><span class="s1 s1e"></span> {{ 'Your Communication Representative'|t }}</li>
    </ul>
    <h4>{{ '2. About your involvement'|t }}</h4>
    <ul>
      <li>{{ 'Your campaign pledge for Publication on Campaign Website'|t }} </li>
    </ul>
      <h4>{{ '3. About your Main Contact'|t }}</h4>
    <ul>
      <li>{{ 'About your Main Contact Person'|t }}</li>
      <li>{{ 'Other users'|t }}</li>
    </ul>

    <h3>{{ 'Relevant for you'|t }}</h3>
    <ul>
      <li><a href="#">&gt; {{ 'See how your data will appear on the Campaign website'|t }}</a></li>
    </ul>

    <h3>{{ 'Legend'|t }}</h3>
    <ul>
      <li>{{ 'Required Fields'|t }}<span class="mandatory"> *</span></li>
      <li>{{ 'Fields displayed on campaign site'|t }}<span class="displayed-campaign"> *</span></li>
    </ul>
  </div>
  <div class="content-panel">
    <form{{ attributes }}>
      {{ title_prefix }}
      {{ children }}
      {{ title_suffix }}
    </form>
  </div>
</div>

{{ attach_library('hwc_forms/hwc_formslib') }}
